
<router-outlet></router-outlet>

<section>
    <div class="main">
        <div class="social">
            <a href="https://github.com/Wlmr24" target="_blank" ><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/wilmer-hernan-godoy-rodriguez/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>      
        <div class="detail">
            <h1 style="color:#113D6B;">Contactame</h1>
                        <p>Estoy disponible para oportunidades profesionales,
                            Puedes ponerte en contacto conmigo a través de los siguientes medios:

                            Teléfono o Whatsapp : +57 321-230-8250 
                            Correo Electrónico: wilmergr24&#64;gmail.com
                            No dudes en enviarme un mensaje si tienes 
                            alguna pregunta o si estás interesado 
                            en discutir posibles colaboraciones o proyectos.</p>
        </div>
        <div >
            <img src="assets/Images/Wilmer-SF.png" class="images" width="70%">
        </div>
    </div>
</section>
<router-outlet></router-outlet>
