
<router-outlet></router-outlet>

<section>
    <div class="main">
        <div class="social">
            <a href="https://github.com/Wlmr24" class="btn btn-dark" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/wilmer-hernan-godoy-rodriguez/" class="btn btn-primary" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>   
        <div class="detail">
            <h1 style="color:#113D6B;">Contactame</h1>
                        <p>Estoy disponible para oportunidades profesionales,
                            Puedes ponerte en contacto conmigo a través de los siguientes medios:

                            Teléfono o Whatsapp : +57 321-230-8250 
                            Correo Electrónico: wilmergr24&#64;gmail.com
                            No dudes en enviarme un mensaje si tienes 
                            alguna pregunta o si estás interesado 
                            en discutir posibles colaboraciones o proyectos.</p>
        </div>
        <div class="image-container" >
            <img src="assets/Images/Contact.png" width="400" height="400">
        </div>
    </div>
</section>
<router-outlet></router-outlet>
