<section>
    <div class="main">
        <div class="social">
            <a href="https://github.com/Wlmr24" class="btn btn-dark" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/wilmer-hernan-godoy-rodriguez/" class="btn btn-primary" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>     
        <div class="detail">
            <h1 style="color:#113D6B;">Habilidades</h1>
                        <p>  <strong>- Lenguajes de Programación y Tecnologías:</strong>
                            <br>
                            - TypeScript: Conocimientos básicos en TypeScript para desarrollar aplicaciones robustas y mantenibles.
                            <br>
                            - HTML y CSS: Experiencia en la creación de interfaces de usuario limpias y eficientes.
                            <br>
                            - Angular: Conocimientos básicos en Angular para el desarrollo de aplicaciones web modernas y escalables.
                            <br>
                            - .NET: Familiaridad con el framework .NET para el desarrollo de aplicaciones de servidor y backend.
                            <br>
                            <strong> - Bases de Datos: </strong>
                            <br>
                             SQL Server: Experiencia en el diseño, implementación y gestión de bases de datos utilizando SQL Server.
                             <br>
                            <strong> Herramientas y Control de Versiones: </strong>
                            <br>
                            - Git: Conocimientos en el uso de Git para el control de versiones y la colaboración en proyectos de desarrollo.</p>
        </div>
        <div class="image-container" >
            <img src="assets/Images/Skills.png" width="400" height="400">
        </div>
    </div>
</section>
<router-outlet></router-outlet>
