
<section>
    <div class="main">
        <div class="social">
            <a href="https://github.com/Wlmr24" class="btn btn-dark" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/wilmer-hernan-godoy-rodriguez/" class="btn btn-primary" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>   
        <div >
            <h1 style="color:#113D6B;">Acerca de mi</h1>
                        <p>Soy un ingeniero de software en constante evolución, 
                        con un profundo interés en la tecnología 
                        y el desarrollo de soluciones que impacten positivamente. 
                        Mi experiencia y formación en Ingeniería de Software 
                        me han dado una comprensión robusta de los principios de programación 
                        y las mejores prácticas en el desarrollo de software.
                        Soy un profesional orientado a resultados con una actitud positiva 
                        y una disposición para aprender y adaptarme a nuevas tecnologías 
                        y metodologías. Mi objetivo es seguir creciendo 
                        en el campo del desarrollo de software y contribuir 
                        a la creación de soluciones innovadoras 
                        que resuelvan problemas reales.</p>
        </div>
        <div class="image-container" >
            <img src="assets/Images/About.png" width="400" height="400">
        </div>
    </div>
</section>
<router-outlet></router-outlet>
