<router-outlet></router-outlet>
<section>
    <div class="main">
        <div class="social">
            <a href="https://github.com/Wlmr24" class="btn btn-dark" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/wilmer-hernan-godoy-rodriguez/" class="btn btn-primary" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="detail">
            <h1><span>Hola y Bienvenido</span> <br> Soy <span style="color:#113D6B;">Wilmer</span></h1>
            <p>Desarrollador de Software y Técnico laboral en habilidades de programación. 
                Persona responsable, dinámica, con aspiraciones, 
                deseos de superación y metas basadas en el logro de objetivos; 
                aprendo con rapidez y me intereso por cumplir de manera adecuada con la puntualidad, 
                honestidad y responsabilidad en las distintas actividades que realizo.
                Dispuesto a cumplir con las distintas funciones, 
                obligaciones y normas laborales que tengan establecidas, 
                me presento con gran entusiasmo a vuestra entidad,
                y así formar parte del cumplimiento de metas 
                planteadas en vuestra misión.</p>
            <div class="button">
                <button id="downloadButton"
                       (click)="downloadCV()">
                    Download CV
                </button>
            </div>
        </div>
        <div class="image-container" >
            <img src="assets/Images/Wilmer-SF.png" width="400" height="400">
        </div>
    </div>
</section>