
<div>
    <router-outlet></router-outlet>
</div>

<section>
    <div class="mains">

      <div class="cards" style="width: 20rem;">
        <img src="assets/Images/Mascotas.jpg"class="card-img-top" width="250" height="150">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Mascotas App </h5>
          <br>
          <p class="card-text">Aplicacion Web de una tienda de mascotas con manejo de formularios y creacion de un CRUD.
                                <br>
                                - Creacion de Backend en .NET
                                <br>
                                - Creacion de base de datos en SQL Server
          </p>
          <!-- <button type="button" class="btn btn-info">
            Pagina Mascotas
          </button> -->
        </div>
      </div>

      <div class="cards" style="width: 20rem;">
        <img src="assets/Images/Graficas.jpg" class="card-img-top" width="250" height="150">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Graficas App</h5>
          <br>
          <p class="card-text">Aplicacion Web donde se utiliza una libreria de terceros para crear graficas.
                              <br>
                              - Creacion de graficas con informacion estatica y dinamica.
                              <br>
                              - Creacion de propios componentes para Reutilizar graficas.
                              <br>
                              - Mostrar varias graficas en pantalla.
                              <br>
                              - Peticion HTTP con informacion para llenar grafica.
          </p>
          <!-- <button type="button" class="btn btn-info">
            Pagina Graficas
          </button> -->
        </div>
      </div>

        <div class="cards" style="width: 20rem;">
            <img src="assets/Images/Paises.jpg" class="card-img-top" width="250" height="150">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Paises App</h5>
              <br>
              <p class="card-text">Aplicacion Web, que sirve como un buscador de paises consumiendo una API. 
                                    <br>
                                    Obteniendo informacion como su Capital, su poblacion, sus limites, su bandera. 
                                    <br>
                                     - Se aprendio hacer un SPA (Singles page aplicacion)
                                     <br>
                                     - Consumo de API
                                     <br>
                                     - Estructura de directorios. 
                </p>
            </div>
          </div>

          <div class="cards" style="width: 20rem;">
            <img src="assets/Images/Gif.gif" class="card-img-top" width="250" height="150">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Gifs App</h5>
              <br>
              <p class="card-text">Aplicacion web, Que sirve como buscador de gifs consumiendo un API de gifs.
                                  <br>
                                  - Crear buscadores
                                  <br>
                                  - Crear informacion en local Storage
                                  <br>
                                  - Clicos de vida de angular.
                                  <br>
                                  - Decorador de propiedades.
                                  <br>
                                  - Reutilizar componentes
              </p>
            </div>
          </div>

          <div class="cards" style="width: 20rem;">
            <img src="assets/Images/Heroes.png"class="card-img-top" width="250" height="150">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Heroes App</h5>
              <br>
              <p class="card-text">Aplicacion web, Creacion de formularios para agregar heroes.
                                   Donde se utilizo un Backend portable con ServerJSON para conectar por servicios REST
                                   <br>
                                  - Carga perezoza Lazyload
                                  <br>
                                  - Creacion de CRUD
                                  <br>
                                  - Uso de Angular Flex, Material Desing
              </p>
            </div>
          </div>

          <div class="cards" style="width: 20rem;">
            <img src="assets/Images/Formularios.png" class="card-img-top" width="250" height="150">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Formularios App</h5>
              <br>
              <p class="card-text">Creacion de distintos formularios. Haciendo la simulacion de un Super Mercado.
                                  - Formularios por Template.
                                  <br>
                                  - Formularios Reactivos
                                  <br>
                                  - Validaciones de formularios
              </p>
            </div>
          </div>
    </div>
</section>