
body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    height: 100%; /* Necesario para permitir que el contenido crezca más allá del viewport */
    margin: 0;
    overflow: auto; /* Permite el scroll en caso de que el contenido sea mayor que el viewport */
    background-image: url(assets/Images/fondo\ 2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*nav */
header {
    padding: 1.7rem 1rem;
    backdrop-filter: blur(10px);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 2.0rem;
    font-weight: 800;
}

.logo a {
    color: #113D6B;
    text-decoration: none;
}

nav a {
    color: #113D6B;
    text-decoration: none;
    font-size: 1.10rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
    background-color: #113D6B;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav */

section {
    margin: 2rem 6.0rem;
    text-align:justify; /* Centra el texto horizontalmente */
    padding: 2rem;
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho total */;
}

.image-container {
    text-align:center /* Alinea el contenido del div a la derecha */
}

img {
    max-width: 100%; /* O puedes usar max-width: 100%; para que sea responsivo */
    height: auto; /* Mantiene la proporción de la imagen */
}

.main {
    display: grid;
    grid-template-columns: 5% repeat(2, 1fr);
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1rem;
}

.social a {
    color: #113D6B;
    font-size: 1rem;
    border: 1.6px solid #113D6B;
    border-radius: 50%;
    padding: .35rem;
    text-align: center;
    width: 26px;
}

.social a:hover {
    color: #fff;
    background-color: #113D6B;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}
.button button {
    background-color: transparent;
    border: 1px solid #113D6B;
    border-radius: 0.4rem;
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
}
.button button:hover {
    background-color: #113D6B;
    color: #fff;
    transition: all .3s ease-in-out;
    transform: scale(.91);
}
.images {
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-position: 0px -74px;
}

@media (max-width: 768px) {
    section {
      margin: 1rem 2rem; /* Ajusta los márgenes para pantallas más pequeñas */
    }
}


@media only screen and (max-width: 1024px) {
    section {
        margin: 2rem 2.5rem;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 95%;
    }
    header {
        max-width: 100%;
    }
    section {
        margin: 0rem 1.5rem;
    }
    .images {
        background-position: left;

    }
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #113D6B;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }
    .main {
        grid-template-columns: repeat(2, 1fr);
    }

}


.mains {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    column-gap: 1rem; /* Espacio entre columnas */
    justify-content: space-between;
    align-items: start; /* Ajusta si es necesario */
    margin: 5rem auto;
 }

 .cards {
   background: #f9f9f900;
   border: 0.5px solid #06c3fd2d;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
 }